.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 20px;
    background-color: rgba(49, 49, 49, 0.726);
    backdrop-filter: blur(1rem);
    gap: 10px;
    border-radius: 20px;
    border: 3px solid white;
    transition: all 0.3s ease;

}

.item:hover{
    background-color: rgba(0, 0, 0, 0.726);
}
.container-img{
    width: 100%;
    height: 150px;
    
}

.container-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid white;
    

}

.item p, .item h3{
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: white;
}
.item button{
    width: 60%;
    height: 40px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 10px;
    border: 3px solid white;
    cursor: pointer;
    color: white;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.726);
    backdrop-filter: blur(1rem);
    transition: all 0.3s ease;
}

.item button:hover{
    color: rgba(255, 255, 255, 0.623);
    border-color: rgba(255, 255, 255, 0.623);
}
